* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  justify-content: center;
}
h2 {
  text-align: center;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}
.btn {
  font-family: inherit;
  font-size: 1.5rem;
  margin: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  background-color: #f700ff;
}
span {
  color: red;
}
div {
  display: grid;
  place-items: center;
}

.canvas-wrapper {
  position: relative;
  height: 40vh;
  width: 95vw;
  max-width: 1000px;
  margin-bottom: 5rem;
}
